[submodule "authappliance/lib/crontabparser"]
	path = authappliance/lib/crontabparser
	url = https://github.com/privacyidea/crontabparser
[submodule "authappliance/lib/freeradiusparser"]
	path = authappliance/lib/freeradiusparser
	url = https://github.com/privacyidea/freeradiusparser
[submodule "authappliance/lib/networkparser"]
	path = authappliance/lib/networkparser
	url = https://github.com/privacyidea/networkparser.git
[submodule "authappliance/lib/mysqlparser"]
	path = authappliance/lib/mysqlparser
	url = https://github.com/privacyidea/mysqlparser.git
[submodule "authappliance/lib/--force"]
	path = authappliance/lib/--force
	url = https://github.com/privacyidea/mysqlparser.git
[submodule "authappliance/lib/tincparser"]
	path = authappliance/lib/tincparser
	url = https://github.com/privacyidea/tincparser.git
